{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-organize-imports",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"endOfLine": "lf",
	"proseWrap": "always",
	"bracketSameLine": true,

	"svelteStrictMode": true,

	"tailwindStylesheet": "./src/app.css"
}
